In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import os

In [3]:
# path = '/content/drive/MyDrive/Project/NLP/datasets' 
path = ''

In [4]:
data = pd.read_csv(os.path.join(path, 'datasets', 'pos200.csv'))
data

,Unnamed: 0,doc,sentence,word,tag,pos
0,0,doc: 13a5421c5a5de3dc125a2fd01278a5bb,sentence: 0000001,PUTUSAN,O,NOUN
1,1,NaN,NaN,.,O,PUNCT
2,2,NaN,NaN,NOMOR,O,NOUN
3,3,NaN,NaN,:,O,PUNCT
4,4,NaN,NaN,1974,B_putusan,NUM
...,...,...,...,...,...,...
1764287,1764287,NaN,NaN,Terdakwa,O,NOUN
1764288,1764288,NaN,NaN,dan,O,CCONJ
1764289,1764289,NaN,NaN,Penasihat,O,NOUN
1764290,1764290,NaN,NaN,Hukumnya,O,NOUN
1764291,1764291,NaN,NaN,;,O,PUNCT

## Prev

In [5]:
prev = data.word.tolist()

In [6]:
prev.insert(0,'.')

In [7]:
data['prev'] = prev[:-1]

In [8]:
data

,Unnamed: 0,doc,sentence,word,tag,pos,prev
0,0,doc: 13a5421c5a5de3dc125a2fd01278a5bb,sentence: 0000001,PUTUSAN,O,NOUN,.
1,1,NaN,NaN,.,O,PUNCT,PUTUSAN
2,2,NaN,NaN,NOMOR,O,NOUN,.
3,3,NaN,NaN,:,O,PUNCT,NOMOR
4,4,NaN,NaN,1974,B_putusan,NUM,:
...,...,...,...,...,...,...,...
1764287,1764287,NaN,NaN,Terdakwa,O,NOUN,serta
1764288,1764288,NaN,NaN,dan,O,CCONJ,Terdakwa
1764289,1764289,NaN,NaN,Penasihat,O,NOUN,dan
1764290,1764290,NaN,NaN,Hukumnya,O,NOUN,Penasihat
1764291,1764291,NaN,NaN,;,O,PUNCT,Hukumnya

## Next

In [9]:
next = data.word.tolist()
next.append('.')

In [10]:
data['next'] = next[1:]

In [11]:
df = data[['doc', 'sentence', 'word', 'pos', 'prev', 'next', 'tag']]
df

,doc,sentence,word,pos,prev,next,tag
0,doc: 13a5421c5a5de3dc125a2fd01278a5bb,sentence: 0000001,PUTUSAN,NOUN,.,.,O
1,NaN,NaN,.,PUNCT,PUTUSAN,NOMOR,O
2,NaN,NaN,NOMOR,NOUN,.,:,O
3,NaN,NaN,:,PUNCT,NOMOR,1974,O
4,NaN,NaN,1974,NUM,:,/,B_putusan
...,...,...,...,...,...,...,...
1764287,NaN,NaN,Terdakwa,NOUN,serta,dan,O
1764288,NaN,NaN,dan,CCONJ,Terdakwa,Penasihat,O
1764289,NaN,NaN,Penasihat,NOUN,dan,Hukumnya,O
1764290,NaN,NaN,Hukumnya,NOUN,Penasihat,;,O
1764291,NaN,NaN,;,PUNCT,Hukumnya,.,O

In [12]:
df.to_csv(os.path.join(path, 'datasets', 'pos-prev-next200.csv'), index=False)